.share-panel {
  background-color: #fff;
  margin-bottom: 20px;
}

.share-panel-body {
  padding: 10px;
}

.share-panel-toolbar {
  padding: 10px;
}

textarea.share-input-box {
  min-height: 80px;
  resize: none;
}

.tools {
  display: inline-block;
  margin-bottom: 0;
  font-size: 20px;
}

.tools li {
  display: inline-block;
  margin-left: .5em;
}

.user-profile {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}

.avatar {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 4px solid #ddd;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  vertical-align: middle;
}

.contracts {
  font-size: 20px;
}

.contracts li {
  display: inline-block;
  margin-left: 1em;
  padding: .6em;
  color: #fff;
  line-height: 1;
}

.contracts li:first-child {
  margin-left: 0;
  border-color: #136ba5;
  background-color: #167abc;
}

.contracts li:nth-child(2) {
  border-color: #039fbc;
  background-color: #03b4d5;
}

.contracts li:nth-child(3) {
  border-color: #e13345;
  background-color: #e44959;
}

.contracts li:nth-child(4) {
  border-color: #82547c;
  background-color: #925e8b;
}

.follow-btn {
  width: 50%;
}

.user-profile-desc {
  background-color: #fff;
  padding: 20px;
}

.user-profile-desc i {
  color: #35baf6;
}

.user-profile-desc-foot {
  width: 50%;
  margin: 0 auto;
  padding-top: 11px;
}

.user-profile-desc-foot .ant-row {
  margin-bottom: 0;
}

.user-profile-desc-foot i {
  font-size: 40px;
  vertical-align: -2px;
}

.user-profile-desc-foot p {
  margin-bottom: 0;
}

.likes-value,
.friends-value {
  font-size: 16px;
}

.likes-label,
.friends-label {
  font-size: 14px;
}

.comments {
  padding: 15px;
  background-color: #fff;
}

.comment-actions {

}

.comment-actions li {
  display: inline-block;
  margin-left: .5em;
  padding: 5px;
  background-color: #f4f4f4;
  line-height: 1;
}

.ant-list-item.comment-item {
  background-color: #fff;
}

.timeline {
  padding: 15px;
  background-color: #fff;
}

.profile-pic-wrap {
  width: 100px;
  float: left;
  font-size: 10px;
  text-align: center;
  position: relative;
  background: #fff;
  padding: 5px 0;
}

.line-wrap {
  position: relative;
}

.line-wrap:not(:last-child):before {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  border-right: solid 2px #35baf6;
  left: 0;
  top: 70px;
}

.contents-wrap {
  margin: 0 0 15px 110px;
  border: 1px solid #ddd;
  position: relative;
  padding: 15px;
  white-space: normal;
}

.contents-wrap:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid #ddd;
  margin: 15px 0 0 -9px;
}

.shared-by {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}

.shared-img {
  display: block;
  width: 100%;
}
