.btn-layout {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: #999;
  line-height: 1.5;
  font-weight: bold;
  margin-left: 1em;
  cursor: pointer;
}

.btn-layout:active {
  background-color: #ccc;
}

.nav {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.nav-item {
  display: inline-block;
  font-size: 16px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
}

.nav-item a {
  color: #999;
}

.nav-item:active {
  background-color: #ccc;
}

.main-user {
  display: inline-block;
  vertical-align: top;
  padding-left: .5em;
  padding-right: .5em;
}

.main-logo {
  background-color: #35baf6;
  color: #fff;
  display: inline-block;
  width: 200px;
  padding-left: 24px;
  font-size: 20px;
  transition: width .2s;
}

.main-logo .anticon {
  margin-right: .5em;
}

.sider-active .main-logo {
  width: 80px;
}

.sider-active .main-logo span {
  display: none;
}
