.special-offer {
  background-color: #579ddb;
  color: #fff;
  text-align: center;
  padding: 20px;
  height: 334px;
}

.special-offer h2 {
  color: #fff;
  line-height: 60px;
}

.special-offer-icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: rgba(255, 255, 255, .1);
}

.special-offer-icon.ant-avatar-icon {
  font-size: 60px;
}

.special-offer-desc {
  margin-top: 20px;
}

.special-offer-link {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.steps {
  padding: 10px 50px;
  background-color: #fff;
}

.steps .ant-steps-item {
  cursor: pointer;
}

.steps-content {
  background-color: #fff;
  padding: 0 20px 20px;
  height: 208px;
}

.steps-content .ant-form-item {
  margin-bottom: 15px;
  line-height: 1;
}

.steps-content .ant-form-item-control {
  line-height: 1;
}

.steps-content .ant-form-item-label {
  line-height: 32px;
}

.steps-content .ant-input {
  border-radius: 0;
}

.steps-toolbar {
  text-align: right;
  padding: 6px 20px 10px;
  background-color: #fff;
}

.steps-toolbar .ant-btn {
  margin-left: 1em;
}

.finish {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
