h1, p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.gb-page-wrapper {
  height: 100vh;
  overflow: hidden;
}

.gb-page-header {
  flex-basis: 60px;
  padding: 10px;
}

.gb-page-body {
  flex: 1;
  position: relative;
}
