
.email-title {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-table-small > .ant-table-content > .ant-table-body > table {
  padding: 0;
}

.page-email .ant-list .anticon {
  font-size: 18px;
  line-height: 21px;
}

.page-email .ant-list-item {
  height: 48px;
  cursor: pointer;
}

.page-email .ant-card-head-title .anticon,
.page-email .ant-list-item .anticon {
  margin-right: .5em;
}

.page-email .ant-list-item:nth-child(2n) {
  background-color: #fff;
}

.page-email .ant-list-item:hover {
  background-color: #fff;
  color: #458fd2;
  transition: color .2s;
}

.email-table {
  background: #fff;
}
